@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0px;
    padding:0px;
    font-family: 'Outfit', sans-serif;

}

body{
    background-color:hsl(212, 45%, 89%);
}

img{
    border-radius: 20px;
    object-fit: contain;
    height: 320px;
    width: 320px;
    margin: 15px;
}
.container{
    display: flex;
    justify-content: center;
  
}

.QR{
    text-align: center;
    margin:60px 0px;
    width: 360px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0px 5px 15px hsl(0, 0%, 81%);
}

.text{
   padding: 0px 30px;
}

h2{
    color: hsl(218, 44%, 22%);
}
p{
    color: hsl(220, 15%, 55%);
    padding: 30px;
    font-size: 15px;
    font-weight: 400;
}

/* MOBILE DESIGN */

@media only screen and (max-width:375px){
    .QR{
        width: 300px;
    }
    img{
        width: 260px;
        height: 260px;
    }
    .text{
        padding: 0px;
    }
    


}